@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

h1{
    color: white;
    text-align: center;
    font-family: Aclonica, sans-serif;
}

header a{
    color: white;
    font-family: Poppins;
    text-decoration: none;
    float: right;
    margin-top: -50px;
    margin-right: 80px;
}

